<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %> 
  <link rel="stylesheet" type="text/css" href="./stylesheets/tipped.css"/>
</head>
<body>
  <% include partials/menu %>
  <div class="container-fluid bg-3 text-center">    
    <h3><%= page %></h3><br>
    <div class="row">
      <div class="container-fluid">
        <div class="container-customer bg-3" style="margin-bottom: 30px;">
          <table class="table table-striped table-bordered" id="over-spent-table" style="font-size: 11px;">
            <thead class="thead-dark">
              <tr>
                <th rowspan="2" style="background-color: #ead1dc; text-align: center; font-size: 20px; width: 9%;">Time Spent Overview</th>
                <th scope="col" style="background-color: #b4d2b4; text-align: center; font-size: 15px; width: 7%;">January</th>
                <th scope="col" style="background-color: #b4d2b4; text-align: center; font-size: 15px; width: 7%;">February</th>
                <th scope="col" style="background-color: #b4d2b4; text-align: center; font-size: 15px; width: 7%;">March</th>
                <th scope="col" style="background-color: #b4d2b4; text-align: center; font-size: 15px; width: 7%;">April</th>
                <th scope="col" style="background-color: #b4d2b4; text-align: center; font-size: 15px; width: 7%;">May</th>
                <th scope="col" style="background-color: #b4d2b4; text-align: center; font-size: 15px; width: 7%;">June</th>
                <th scope="col" style="background-color: #b4d2b4; text-align: center; font-size: 15px; width: 7%;">July</th>
                <th scope="col" style="background-color: #b4d2b4; text-align: center; font-size: 15px; width: 7%;">August</th>
                <th scope="col" style="background-color: #b4d2b4; text-align: center; font-size: 15px; width: 7%;">September</th>
                <th scope="col" style="background-color: #b4d2b4; text-align: center; font-size: 15px; width: 7%;">October</th>
                <th scope="col" style="background-color: #b4d2b4; text-align: center; font-size: 15px; width: 7%;">November</th>
                <th scope="col" style="background-color: #b4d2b4; text-align: center; font-size: 15px; width: 7%;">December</th>
                <th scope="col" style="background-color: #ea9999; text-align: center; font-size: 15px; width: 7%;">Total Time</th>
              </tr>
              <tr class="total-times">
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
              </tr>
            </thead>
          </table>
        </div>

        <div class="container-customer bg-3" style="margin-bottom: 75px;">
          <div class="col-sm-3">
            <label>Year: &emsp;</label>
            <input class="form-control-custom" type="number" id="input-year" maxlength="4" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" value="<%=this_year%>">
          </div>
          <div class="col-sm-4">
            <div class="col-xs-5" style="text-align: right; padding-top: 7px;">
              <label>Date Interval:</label>
            </div>
            <div class="col-xs-7" style="text-align: left; padding-left: 0;">
              <div class="input-daterange input-group" id="main_datepicker" style="display: inline-flex; width: 230px;">
                <input type="text" class="form-control" id="main-start-date" name="start" />
                <span class="input-group-addon" style="min-width: 35px;">to</span>
                <input type="text" class="form-control" id="main-end-date" name="end" />
              </div>
              <button type="button" class="btn btn-default sbm-button" style="padding: 4px 7px; width: 30px; height: 30px;"><span class="fa fa-paper-plane" ></span></button>
            </div>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-default" id="ex-add-time" onclick="showAddModalForExternal()">Add time for external customer</button>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-default" id="download-pdf" onclick="showDownloadPDFModal()">Download PDF</button>
          </div>
        </div>
        <!-- <div style="overflow: hidden; width: 100%; max-height: 100vh;"> -->
          <div  id="custom-table-info" style="position: absolute; width: 95%; margin-top: 10px; display:none;" ></div>
          <table class="table table-striped table-bordered" id="time-spent-table" style="font-size: 11px;">
            <thead class="thead-dark">
              <tr style="background-color: #b4d2b4;">
                <th scope="col" style="text-align: center;">Links</th>
                <th scope="col" style="text-align: center;">Customer ID</th>
                <th scope="col" style="text-align: center;">Email Address</th>
                <th scope="col" style="text-align: center;">Company Name</th>
                <th scope="col" style="text-align: center;">Bookkeeper Name</th>
                <th scope="col" style="text-align: center;">Primary Task Type</th>
                <th scope="col" style="text-align: center;">Delivery Period</th>
                <th scope="col" style="text-align: center;">Delivery Year</th>
                <th scope="col" style="text-align: center;">Time Spent</th>
                <th scope="col" style="text-align: center;">Timestamp</th>
                <th scope="col" style="text-align: center;">Note</th>
              </tr>
            </thead>
            <tbody id="time-spent">
              
            </tbody>
          </table>
        <!-- </div> -->
      </div>
    </div>
    <!-- Report Modal begin-->
    <div class="modal fade text-left" style="margin-top: 20px;" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add Time For Customer</h4>
          </div>
          <div class="modal-body">
            <div class="loader" style="display: none;"></div>
            <form id="report-time-frm" style="display: block;">
              <div class="col-12 modal-margin">
                <form id="form_gotolink">
                  <label for="input-customer_id" class="form-label">Customer ID: </label>
                  <label class="customer-id" style="font-weight:normal">1</label> <!--change when showing-->
                  <input type="number" class="form-control"  id="input-customer_id" style="width: 30%; display: none;">
                
                  <input name="user_token" type="hidden" value="<%= user_token %>">
                  <button type="button" class="btn btn-default" id="del_button" style="margin-left: 70px;"  onclick="goToLinkCid()"> Link with Customer ID </button> <!-- delete this button after integratoin -->
                  <!-- <li><a style="cursor: pointer;" onclick="document.getElementById('form_hourly-rates').submit();">Bookkeeper Hourly Rates</a></li> -->
                </form>
              </div>
              <div class="col-12 modal-margin">
                <b>Bookkeeper Name: </b> <label class="bookkeeper-name" style="font-weight:normal">bookkeeper test</label> <!--change when showing-->
                <div class="dot-loaders" style="display: none; margin-bottom: 5px;">
                  <div class="dot-loader"></div>
                  <div class="dot-loader dot-loader--2"></div>
                  <div class="dot-loader dot-loader--3"></div>
                </div>
              </div>
              <div class="col-12 modal-margin">
                <b>Company Name: </b> <label class="company-name" style="font-weight:normal">company test</label> <!--change when showing-->
                <div class="dot-loaders" style="display: none; margin-bottom: 5px;">
                  <div class="dot-loader"></div>
                  <div class="dot-loader dot-loader--2"></div>
                  <div class="dot-loader dot-loader--3"></div>
                </div>
              </div>
              <div class="col-12 modal-margin">
                <b>Email Address: </b> <label class="email-addr" style="font-weight:normal">email@addr.com</label> <!--change when showing-->
                <div class="dot-loaders" style="display: none; margin-bottom: 5px;">
                  <div class="dot-loader"></div>
                  <div class="dot-loader dot-loader--2"></div>
                  <div class="dot-loader dot-loader--3"></div>
                </div>
              </div>
              <div class="col-12 modal-margin">
                <label for="input-task" class="form-label">Primary Task Type:</label>
                <select class="selectpicker form-control" data-dropup-auto="false" data-size="5" data-live-search="true" id="input-task">
                  <option value="1">Almindelig kontering</option>
                  <option value="2">Årsafslutningspakke - Selskaber 1. År</option>
                  <option value="3">Årsafslutningspakke - Selskaber eksisterende kunde</option>
                  <option value="4">Årsafslutningspakke - Enkeltmands 1. År</option>
                  <option value="5">Årsafslutningspakke - Enkeltmands eksisterende kunde</option>
                  <option value="6">VSO - beregning ny kunde</option>
                  <option value="7">VSO - beregning eksisterende kunde</option>
                  <option value="8">Samtale/Rådgivning af kunde</option>
                  <option value="9">Intern kommunikation og møder</option>
                  <option value="10">Primo ny kunde</option>
                  <option value="11">Primo eksisterende</option>
                  <option value="12">kundeCatchup/kontering</option>
                </select>
              </div>
              <div class="col-12 modal-margin">
                <label for="input-period" class="form-label">Period: </label>
                <select class="selectpicker form-control" data-dropup-auto="false" data-size="5" data-live-search="true" id="input-period">
                  <option value="Q1">Q1</option>
                  <option value="Q2">Q2</option>
                  <option value="Q3">Q3</option>
                  <option value="Q4">Q4</option>
                  <option value="Year-end">Year-end</option>
                </select>
              </div>
              <div class="col-12 modal-margin">
                <label for="delivery-year" class="form-label">Delivery Year: </label>
                <input type="number" class="form-control" maxlength="4" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="delivery-year" value="<%= this_year %>">
              </div>
              <div class="col-12 modal-margin">
                <label for="input-time" class="form-label">Time Spent (in min): </label>
                <input type="number" class="form-control" id="input-time">
              </div>
              <div class="col-12 modal-margin">
                <label for="input-note" class="form-label">Note:</label>
                <textarea style="resize:none; height: 80px;" class="form-control" id="input-note"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary"  onclick="submitReportTime()"> Save </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end -->
    <!-- PDF Modal begin-->
    <div class="modal fade text-left" style="margin-top: 180px;" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Download PDF</h4>
          </div>
          <div class="modal-body">
            <div class="loader" style="display: none;"></div>
            <form id="report-time-frm" style="display: block;">
              <div class="col-12 modal-margin">
                <label for="datepicker" class="form-label">Select Date Range: </label>
                <div class="input-daterange input-group" id="datepicker" style="display: inline-flex; width: 200px;">
                  <input type="text" class="input-sm form-control" id="start-date" name="start" />
                  <span class="input-group-addon" style="min-width: 35px;">to</span>
                  <input type="text" class="input-sm form-control" id="end-date" name="end" />
                </div>
              </div>
              <div class="col-12 modal-margin">
                <b>Bookkeeper Name: </b> <label class="bookkeeper-name" style="font-weight:normal">bookkeeper test</label> <!--change when showing-->
                <div class="dot-loaders" style="display: none; margin-bottom: 5px;">
                  <div class="dot-loader"></div>
                  <div class="dot-loader dot-loader--2"></div>
                  <div class="dot-loader dot-loader--3"></div>
                </div>
              </div>
              <div class="col-12 modal-margin">
                <b>Time Period: </b> <label class="time-period" style="font-weight:normal">company test</label> <!--change when showing-->
                <div class="dot-loaders" style="display: none; margin-bottom: 5px;">
                  <div class="dot-loader"></div>
                  <div class="dot-loader dot-loader--2"></div>
                  <div class="dot-loader dot-loader--3"></div>
                </div>
              </div>
              <div class="col-12 modal-margin">
                <b>Total Time (hour): </b> <label class="total-time" style="font-weight:normal">email@addr.com</label> <!--change when showing-->
                <div class="dot-loaders" style="display: none; margin-bottom: 5px;">
                  <div class="dot-loader"></div>
                  <div class="dot-loader dot-loader--2"></div>
                  <div class="dot-loader dot-loader--3"></div>
                </div>
              </div>
              <div class="col-12 modal-margin">
                <b>Total Cost: </b> <label class="total-cost" style="font-weight:normal">email@addr.com</label> <!--change when showing-->
                <div class="dot-loaders" style="display: none; margin-bottom: 5px;">
                  <div class="dot-loader"></div>
                  <div class="dot-loader dot-loader--2"></div>
                  <div class="dot-loader dot-loader--3"></div>
                </div>
              </div>
              
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="download_button" disabled onclick="downloadPDFFile()"> Download PDF </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end -->
    <!-- Edit Modal begin-->
    <div class="modal fade text-left" style="margin-top: 100px;" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit Time For Customer</h4>
          </div>
          <div class="modal-body">
            <div class="loader" style="display: none;"></div>
            <form id="edit-time-frm" style="display: block;">
              <div class="col-12 modal-margin">
                <ul class="nav nav-tabs tab-link">
                  <% for(var i=0; i<month_index.length; i++) {%>
                    <li><a data-toggle="tab" href="#e_<%= month_index[i] %>"><%= month_index[i] %></a></li>
                  <% } %>
                </ul>
                <div class="tab-content">
                  <% for(var i=0; i<month_index.length; i++) {%>
                    <div id="e_<%= month_index[i] %>" class="tab-pane fade">
                      <h4><b><%= month_list[i] %></b></h4>
                      <div style="overflow-x: auto; min-height: 260px; max-height: 375px;">
                        <table class="table table-striped table-bordered" style="font-size: 11px;">
                          <thead class="thead-dark">
                            <tr style="background-color: #b4d2b4;">
                              <th scope="col" style="text-align: center;">Customer ID</th>
                              <th scope="col" style="text-align: center;">Bookkeeper Name</th>
                              <th scope="col" style="text-align: center;">Company Name</th>
                              <th scope="col" style="text-align: center;">Email Address</th>
                              <th scope="col" style="text-align: center;">Delivery Year</th>
                              <th scope="col" style="text-align: center;">Primary Task Type</th>
                              <th scope="col" style="text-align: center;">Period</th>
                              <th scope="col" style="text-align: center;">Time Spent</th>
                              <th scope="col" style="text-align: center;">Note</th>
                              <th scope="col" style="text-align: center;"></th>
                            </tr>
                          </thead>
                          <tbody class="etable-body" style="text-align: center;" id="e_<%= month_list[i] %>">
                          </tbody>
                        </table>
                      </div>
                    </div>
                  <% } %>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end -->
    <!--Audit Modal begin-->
    <div class="modal fade text-left" style="margin-top: 100px;" id="auditModal" tabindex="-1" role="dialog" aria-labelledby="auditModal" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Audit log for Customer</h4>
          </div>
          <div class="modal-body">
            <div class="loader" style="display: none;"></div>
            <form id="audit-time-frm" style="display: block;">
              <div class="col-12 modal-margin">
                <ul class="nav nav-tabs tab-link">
                  <% for(var i=0; i<month_index.length; i++) {%>
                    <li><a data-toggle="tab" href="#a_<%= month_index[i] %>"><%= month_index[i] %></a></li>
                  <% } %>
                </ul>
                <div class="tab-content">
                  <% for(var i=0; i<month_index.length; i++) {%>
                    <div id="a_<%= month_index[i] %>" class="tab-pane fade">
                      <h4><b><%= month_list[i] %></b></h4>
                      <div style="overflow-x: auto; min-height: 100px; max-height: 375px;" >
                        <table class="table table-striped table-bordered" style="font-size: 11px;">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col" style="background-color: #b4d2b4; text-align: center;">Customer ID</th>
                              <th scope="col" style="background-color: #b4d2b4; text-align: center;">Bookkeeper Name</th>
                              <th scope="col" style="background-color: #b4d2b4; text-align: center;">Company Name</th>
                              <th scope="col" style="background-color: #b4d2b4; text-align: center;">Email Address</th>
                              <th scope="col" style="background-color: #b4d2b4; text-align: center;">Delivery Year</th>
                              <th scope="col" style="background-color: #b4d2b4; text-align: center;">Column</th>
                              <th scope="col" style="background-color: #b4d2b4; text-align: center;">Old Value</th>
                              <th scope="col" style="background-color: #b4d2b4; text-align: center;">New Value</th>
                              <th scope="col" style="background-color: #b4d2b4; text-align: center;">Timestamp</th>
                            </tr>
                          </thead>
                          <tbody class="atable-body" style="text-align: center;" id="a_<%= month_list[i] %>">
                          </tbody>
                        </table>
                      </div>
                    </div>
                  <% } %>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end -->
  </div>
</body>
<% include partials/script %>
<script type="text/javascript" src="./javascripts/tipped.min.js"></script>  
<script src="./javascripts/time-reporting.js"></script>
<script>
  function goToLinkCid() {
    alert("go to link with Customer ID!");
    // window.location.href = base_url + "/time-reporting/202811";
    // window.post = function(url, data) {
    //   return fetch(url, {method: "POST", body: JSON.stringify(data)});
    // }
    // var form = document.getElementById('form_gotolink');
    var link_form = $('#form_gotolink');
    console.log(link_form);
    link_form.method = "POST";
    link_form.action = base_url + "/time-reporting/202811";
    link_form.submit();
  }
</script>
</html>
